@font-face {
  font-family: "Arodora Pro";
  font-weight: 300;

  src: url(../../fonts/arodora_pro/ArodoraPro-Light.otf);
}
@font-face {
  font-family: "NEXT ART";
  font-weight: 700;

  src: url(../../fonts/next_art/NEXT_ART_Bold.otf);
}
@font-face {
  font-family: "NEXT ART";
  font-weight: 600;

  src: url(../../fonts/next_art/NEXT_ART_SemiBold.otf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  white-space: nowrap;
  text-decoration: none;

  color: inherit;
}

.header-btn {
  display: none;
}

.menu-btn {
  position: relative;
  z-index: 2;

  display: none;
  overflow: hidden;

  width: 30px;
  height: 30px;
}

.menu-btn span {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 30px;
  height: 2px;

  -webkit-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  background-color: #e2a300;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  padding: 15px;

  -webkit-transition: -webkit-transform 0.5s;
       -o-transition:         transform 0.5s;
          transition: -webkit-transform 0.5s;
          transition:         transform 0.5s;
          transition:         transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);

  background: -o-linear-gradient(2.68deg, #e2a300 4.47%, #e29500 95.53%);
  background:    linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
}

.menu.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu li {
  list-style-type: none;
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;

  -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -ms-transform: translate(-50%, 0%) rotate(45deg);
          transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;

  -webkit-transform: translate(-50%, 0%) rotate(-45deg);
      -ms-transform: translate(-50%, 0%) rotate(-45deg);
          transform: translate(-50%, 0%) rotate(-45deg);
}

.header {
  color: #e4e4e4;
  background: -o-linear-gradient(348.44deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
  background:    linear-gradient(101.56deg, #2c2c2c 1.56%, #1c1c1c 95.55%);
}

.container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
}

.header-nav {
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  padding-top: 30px;

  text-align: center;
}

.header-nav-link {
  border-bottom: solid 1px transparent;

  font-family: "Arodora Pro";
  font-size: 18px;
  font-weight: 300;
}

.header-nav-link:hover {
  border-bottom: solid 1px rgb(226, 163, 0);
}

.header-navbar {
  margin-left: 350px;
}

.header-logo {
  min-width: 65px;
}

.header-nav-link {
  margin-right: 145px;
}

.header-main {
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  margin-top: 45px;
}

.header-sub-title {
  font-family: "NEXT ART";
  font-size: 48px;
  font-weight: 600;
}

.header-title {
  font-family: "NEXT ART";
  font-size: 72px;
  font-weight: 700;
}

.header-text {
  max-width: 447px;
  margin-top: 27px;
  padding-right: 60px;

  font-family: "Arodora Pro";
  font-size: 18px;
  font-weight: 300;
}

.header-title {
  margin-top: 27px;
}

.header-link--contact {
  display: inline-block;

  margin-top: 27px;
  padding: 14px 40px;

  color: #000000;
  border-radius: 6px;
  background: -o-linear-gradient(2.68deg, #e2a300 4.47%, #e29500 95.53%);
  background:    linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  -webkit-box-shadow: 0 2px 13px rgba(226, 158, 0, 0.48);
          box-shadow: 0 2px 13px rgba(226, 158, 0, 0.48);

  font-family: "NEXT ART";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.wrapper-gradient {
  background: -o-linear-gradient(319.32deg, #414141 0%, #2d2d2d 100.52%);
  background:    linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}

.icon-section {
  padding-bottom: 50px;
}

.header-main-photo {
  max-width: 600px;
}

.icon-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding-top: 113px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  min-width: 270px;
  min-height: 270px;
  margin: 0 30px 30px 0;

  text-align: center;

  color: #e4e4e4;
  border-radius: 29px;
  background: #2a2a2a;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.47);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.47);

  font-family: "Arodora Pro";
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.fa-brands {
  color: #00c4f0;
}

.main {
  padding-top: 50px;
  padding-bottom: 114px;
}

.main-bg-img {
  background-image: url(../../img/Ellipsbackground.png);
  background-repeat: no-repeat;
  background-size: 90% auto;
}

.about-me-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-about-me {
  max-width: 496px;
  margin: 0 auto;
  padding: 0 63px 63px;

  border-radius: 14px;
  background: #2c2c2c;
}

.main-about-me-title {
  -webkit-transform: translateY(-29px);
      -ms-transform: translateY(-29px);
          transform: translateY(-29px);

  color: #e4e4e4;

  font-family: "NEXT ART";
  font-size: 48px;
  font-weight: 400;
  line-height: 54px;
}

.main-text {
  letter-spacing: 0.01em;

  color: #ffffff;

  font-family: "Arodora Pro";
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}

.main-about-me-image-wrapper {
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
}

.main-about-me-image--photo1 {
  max-width: 272px;

  -webkit-box-shadow: 0 0 0 6px #686868;
          box-shadow: 0 0 0 6px #686868;
}

.main-about-me-image--photo2 {
  max-width: 250px;

  -webkit-box-shadow: 0 0 0 6px #686868;
          box-shadow: 0 0 0 6px #686868;
}

.main-about-me-image--photo3 {
  max-width: 287px;

  -webkit-box-shadow: 0 0 0 6px #686868;
          box-shadow: 0 0 0 6px #686868;
}

.main-about-me-image1 {
  padding: 29px;

  text-align: center;

  border-radius: 14px;
  background: #2c2c2c;
}

.main-about-me-image2 {
  padding: 29px;

  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  text-align: center;

  border-radius: 14px;
  background: #2c2c2c;
}

.main-about-me-image3 {
  padding: 29px;

  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
  text-align: center;

  border-radius: 14px;
  background: #2c2c2c;
}

.portfolio {
  padding: 100px 0 150px;

  background: -o-linear-gradient(319.32deg, #414141 0%, #2d2d2d 100.52%);
  background:    linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
}

.portfolio-title {
  text-align: center;

  color: #ffffff;

  font-family: "NEXT ART";
  font-size: 48px;
  font-weight: 400;
}

.portfolio-slider {
  max-width: 970px;
  margin: 50px auto 0;
}

.portfolio-slider-item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  padding: 50px;

  border-radius: 29px;
  background: -o-linear-gradient(319.32deg, #414141 0%, #2d2d2d 100.52%);
  background:    linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  -webkit-box-shadow: 0 4px 15px rgba(27, 27, 27, 0.28);
          box-shadow: 0 4px 15px rgba(27, 27, 27, 0.28);
}

.portfolio-slider-img {
  max-width: 493px;
}

.portfolio-slider-text {
  max-width: 296px;
  margin: auto 0;

  text-align: center;

  color: #ffffff;

  font-family: "Arodora Pro";
  font-size: 18px;
  font-weight: 300;
}

.portfolio-slider-title-text {
  padding-bottom: 25px;

  font-size: 24px;
  line-height: 29px;
}

.slick-prev:before,
.slick-next:before {
  padding: 18px;

  border-radius: 50%;
  background: -o-linear-gradient(2.68deg, #e2a300 4.47%, #e29500 95.53%);
  background:    linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);

  font-size: 36px;
}

.slick-next {
  right: -60px;
}

.slick-prev {
  left: -105px;
}

.footer {
  -webkit-box-align: start;
  -webkit-box-align: center;
  align-items: flex-start;
  align-items: center;
  -ms-flex-align: start;
  -ms-flex-align: center;

  padding: 50px 0;

  color: #e4e4e4;
  background: -o-linear-gradient(319.32deg, #414141 0%, #2d2d2d 100.52%);
  background:    linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);

  font-family: "Arodora Pro";
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}

.footer-wrapper {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.footer-links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 18px;
}

.footer-contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;

  gap: 18px;
}

.footer-copyright {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .header-nav-link {
    margin-right: 55px;
  }
  .header-main {
    padding: 10px;
  }
  .header-link-wrapper {
    padding-bottom: 35px;
  }
  .main-about-me {
    max-width: 350px;
    padding: 0 15px 15px;
  }
  .main-about-me-title {
    font-size: 26px;
  }
  .main-text {
    text-align: center;

    font-size: 18px;
    line-height: 22px;
  }
  .main-about-me-image-wrapper {
    -webkit-transform: translateX(12px);
        -ms-transform: translateX(12px);
            transform: translateX(12px);
  }
  .main-about-me-image3 {
    -webkit-transform: translateX(-12px);
        -ms-transform: translateX(-12px);
            transform: translateX(-12px);
  }
  .main-about-me-image1 {
    margin-bottom: 20px;
  }
  .main-about-me-image1,
  .main-about-me-image2,
  .main-about-me-image3 {
    padding: 15px;
  }
  .icons {
    min-width: 250px;
    min-height: 250px;
    margin: 15px;
  }
  .portfolio-title {
    font-size: 38px;
  }
  .portfolio-slider {
    max-width: 750px;
    margin: 15px auto 0;
  }
  .portfolio-slider-text {
    padding-top: 35px;
  }
  .portfolio-slider-title-text {
    padding: 10px 0;

    font-size: 24px;
    line-height: 24px;
  }
  .slick-next {
    right: -40px;
  }
  .slick-prev {
    left: -90px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
  .header-nav-link {
    margin-right: 15px;
  }
  .header-main {
    padding: 10px;

    text-align: center;
  }
  .header-title {
    margin-top: 10px;

    font-size: 36px;
  }
  .header-sub-title {
    font-size: 32px;
  }
  .header-text {
    max-width: 450px;
    margin-top: 10px;
    padding: 0;

    font-size: 28px;
  }
  .header-link--contact {
    max-width: 350px;
    padding: 15px 35px;

    font-size: 24px;
  }
  .header-link-wrapper {
    padding-bottom: 35px;
  }
  .header-main-photo {
    max-width: 450px;
  }
  .main-about-me {
    max-width: 350px;
    padding: 0 15px 15px;
  }
  .main-about-me-title {
    font-size: 26px;
  }
  .main-text {
    text-align: center;

    font-size: 18px;
    line-height: 22px;
  }
  .main-about-me-image-wrapper {
    -webkit-transform: translateX(1px);
        -ms-transform: translateX(1px);
            transform: translateX(1px);
  }
  .main-about-me-image3 {
    -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  .main-about-me-image1 {
    margin-bottom: 20px;
  }
  .main-about-me-image1,
  .main-about-me-image2,
  .main-about-me-image3 {
    padding: 15px;
  }
  .icons {
    min-width: 250px;
    min-height: 250px;
    margin: 15px;
  }
  .portfolio-title {
    font-size: 38px;
  }
  .portfolio-slider {
    width: 700px;
    margin: 15px auto;
  }
  .portfolio-slider-img {
    margin: 0 auto;
  }
  .portfolio-slider-text {
    max-width: 650px;
    padding-top: 35px;

    font-size: 24px;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .portfolio-slider-title-text {
    padding: 10px 0;

    font-size: 28px;
    line-height: 24px;
  }
  .slick-initialized,
  .slick-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
  .header-nav-link {
    display: none;
  }
  .header-btn,
  .menu-btn,
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-main {
    padding: 10px;

    text-align: center;
  }
  .header-title {
    margin-top: 5px;

    font-size: 32px;
  }
  .header-sub-title {
    font-size: 28px;
  }
  .header-text {
    max-width: 400px;
    margin-top: 10px;
    padding: 0;

    font-size: 24px;
  }
  .header-link--contact {
    max-width: 250px;
    padding: 15px 35px;

    font-size: 24px;
  }
  .header-link-wrapper {
    padding-bottom: 30px;
  }
  .header-main-photo {
    max-width: 400px;
  }
  .main-about-me {
    max-width: 350px;
    padding: 0 15px 15px;
  }
  .main-about-me-title {
    font-size: 26px;
  }
  .main-text {
    text-align: center;

    font-size: 18px;
    line-height: 22px;
  }
  .main-about-me-image-wrapper {
    -webkit-transform: translateX(1px);
        -ms-transform: translateX(1px);
            transform: translateX(1px);
  }
  .main-about-me-image3 {
    -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
            transform: translateX(-2px);
  }
  .main-about-me-image1 {
    margin-bottom: 20px;
  }
  .main-about-me-image1,
  .main-about-me-image2,
  .main-about-me-image3 {
    padding: 15px;
  }
  .icons {
    min-width: 250px;
    min-height: 250px;
    margin: 15px;
  }
  .portfolio-title {
    font-size: 38px;
  }
  .portfolio-slider {
    width: 450px;
    margin: 15px auto 0;
  }
  .portfolio-slider-text {
    max-width: 450px;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .portfolio-slider-title-text {
    padding: 20px 0;

    font-size: 20px;
    line-height: 20px;
  }
  .slick-initialized {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer-links {
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
  .header-btn,
  .menu-btn,
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    text-align: center;
  }
  .header-title {
    margin-top: 5px;

    font-size: 32px;
  }
  .header-sub-title {
    font-size: 28px;
  }
  .header-text {
    max-width: 400px;
    margin-top: 10px;
    padding: 0;

    font-size: 24px;
  }
  .header-link--contact {
    max-width: 250px;
    padding: 15px 35px;

    font-size: 24px;
  }
  .header-main-photo {
    max-width: 350px;
  }
  .main-about-me {
    max-width: 350px;
    padding: 0 15px 15px;
  }
  .main-about-me-title {
    font-size: 26px;
  }
  .main-text {
    text-align: center;

    font-size: 18px;
    line-height: 22px;
  }
  .main-about-me-image1,
  .main-about-me-image2,
  .main-about-me-image3 {
    display: none;
  }
  .icons {
    min-width: 200px;
    min-height: 200px;
    margin: 15px;
  }
  .portfolio-title {
    font-size: 32px;
  }
  .portfolio-slider {
    width: 400px;
    margin: 15px auto 0;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .portfolio-slider-title-text {
    padding: 20px 0;

    font-size: 20px;
    line-height: 20px;
  }
  .slick-initialized {
    display: block;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer-links {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 450px;
    padding: 10px;
  }
  .header-btn,
  .menu-btn,
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    text-align: center;
  }
  .header-title {
    margin-top: 5px;

    font-size: 26px;
  }
  .header-sub-title {
    font-size: 22px;
  }
  .header-text {
    max-width: 350px;
    margin-top: 10px;
    padding: 0;
  }
  .header-link--contact {
    max-width: 200px;
    padding: 10px 30px;

    font-size: 22px;
  }
  .header-main-photo {
    max-width: 350px;
  }
  .main-about-me {
    max-width: 290px;
    padding: 10px;
  }
  .main-about-me-title {
    font-size: 28px;
  }
  .main-text {
    text-align: center;

    font-size: 22px;
    line-height: 20px;
  }
  .main-about-me-image1,
  .main-about-me-image2,
  .main-about-me-image3 {
    display: none;
  }
  .icons {
    min-width: 200px;
    min-height: 200px;
    margin: 15px;
  }
  .portfolio-title {
    font-size: 32px;
  }
  .portfolio-slider {
    max-width: 300px;
    margin: 15px auto 0;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .portfolio-slider-title-text {
    padding: 20px 0;

    font-size: 24px;
    line-height: 22px;
  }
  .portfolio-slider-text {
    font-size: 22px;
  }
  .slick-initialized {
    display: block;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer-links {
    margin-bottom: 10px;
  }
}

@media (max-width: 400px) {
  .container {
    max-width: 390px;
    padding: 5px;
  }
  .header-btn,
  .menu-btn,
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    text-align: center;
  }
  .header-title {
    margin-top: 5px;

    font-size: 26px;
  }
  .header-sub-title {
    font-size: 22px;
  }
  .header-text {
    max-width: 350px;
    margin-top: 10px;
    padding: 0;
  }
  .header-link--contact {
    max-width: 200px;
    padding: 10px 30px;

    font-size: 22px;
  }
  .header-main-photo {
    max-width: 350px;
  }
  .main-about-me {
    max-width: 350px;
    padding: 10px;
  }
  .main-about-me-title {
    font-size: 28px;
  }
  .main-text {
    text-align: center;

    font-size: 22px;
    line-height: 20px;
  }
  .main-about-me-image1,
  .main-about-me-image2,
  .main-about-me-image3 {
    display: none;
  }
  .icons {
    min-width: 200px;
    min-height: 200px;
    margin: 15px;
  }
  .portfolio-title {
    font-size: 32px;
  }
  .portfolio-slider {
    max-width: 350px;
    margin: 15px auto 0;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .portfolio-slider-title-text {
    padding: 20px 0;

    font-size: 24px;
    line-height: 22px;
  }
  .portfolio-slider-text {
    font-size: 22px;
  }
  .slick-initialized {
    display: block;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer-links {
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: none;
    padding: 10px;
  }
  .header-btn,
  .menu-btn,
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    text-align: center;
  }
  .header-title {
    margin-top: 5px;

    font-size: 26px;
  }
  .header-sub-title {
    font-size: 22px;
  }
  .header-text {
    max-width: 250px;
    margin: 10px auto;
    padding: 0;
  }
  .header-link--contact {
    max-width: 200px;
    padding: 10px 30px;

    font-size: 22px;
  }
  .header-main-photo {
    max-width: 350px;
  }
  .main-about-me {
    max-width: 250px;
    padding: 0 15px 15px;
  }
  .main-about-me-title {
    font-size: 26px;
  }
  .main-text {
    text-align: center;

    font-size: 16px;
    line-height: 16px;
  }
  .main-about-me-image1,
  .main-about-me-image2,
  .main-about-me-image3 {
    display: none;
  }
  .icons {
    min-width: 200px;
    min-height: 200px;
    margin: 15px;
  }
  .portfolio {
    padding: 50px 5px;
  }
  .portfolio-title {
    font-size: 32px;
  }
  .portfolio-slider {
    max-width: 290px;
    margin: 15px auto;
  }
  .portfolio-slider-item {
    padding: 5px;
  }
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
  .portfolio-slider-title-text {
    padding: 20px 0;

    font-size: 20px;
    line-height: 20px;
  }
  .slick-initialized {
    display: block;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .footer-links {
    margin-bottom: 10px;
  }
}
